*{
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
}
.header{
    padding: 20px;
    font-size: 40px;
    background-color: rgb(17, 17, 71);
    color: rgb(255, 255, 255);
    text-align: left;
}
div{
    /* padding:100px; */
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
}
.block1{
    color: white;
    font-size: 25px;
    background-color: rgb(17, 17, 71);
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
}
.block5{
    color: white;
    font-size: 25px;
    background-color: rgb(17, 17, 71);
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
}
.block61{
    color: white;
    font-size: 25px;
    background-color: rgb(17, 17, 71);
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
}
.map{
    color: white;
    font-size: 25px;
    background-color: rgb(17, 17, 71);
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
}
.cont{
    color: white;
    font-size: 25px;
    background-color: rgb(17, 17, 71);
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
}
b11{
    text-align: left;
    padding: 20px;
}   
.block2{
    padding: 0;
    display: flex;
}
.block4{
    padding: 0;
    display: flex;
}
.block42{
    padding: 0;
    display: flex;
}
img{
    width: 100%;
}
.block3{
    color: rgb(17, 17, 71);
    font-size: 25px;
    background-color: white;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
}
.block15{
    color: rgb(17, 17, 71);
    font-size: 25px;
    background-color: white;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
}
.block32{
    color: rgb(17, 17, 71);
    font-size: 25px;
    background-color: white;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
}
.button_block2{
    flex: 1;
    border-radius: 10px;
    padding: 40px 80px;
}
.adress{
    background-color: green;
}
.contacts{
    background-color: aqua;
}
.button12{
    padding: 0;
    display:flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
    gap: 150px;
    margin-top: 150px;
}
.button{
    padding: 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}
.button a{
    color: black;
    text-decoration: none;
}
.button a:hover{
    color: rgb(88, 135, 86);
    text-decoration: underline;
}
.button a:visited{
    text-shadow: 1px 1px rgb(186, 45, 45);
}
.button1{ 
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 15px;
    flex: 1;
}

.block6{
    background-color: black;
    text-align: left;
    padding: 15px;
}
span{
    font-size: 40px;
}
body{
    margin:0;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:25%;
    position:relative;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:75%;
    width:100%;
    position:absolute;
}